{% extends 'djangotest/base.html' %}

{% block title %}Poll detail - {{ question.id }}{% endblock %}

{% block head_additions %}
{% load static %}
<link rel="stylesheet" href="{%static 'polls/css/detail-style.css' %}">
{% endblock head_additions %}


{% block body_block %}
<div class="polls-detail">
    <div class="row">
        <div class="col-12">

            <h1>
                {{question.question_text}}
            </h1>
        </div>

        <div class="col-12">
            {% if error_message %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <strong>Holy guacamole!</strong> {{error_message}}
            </div>
            {% endif %}
        </div>

        <div class="col-12">
            <form action="{% url 'polls:vote' question.id %}" method="post">
                {% csrf_token %}

                {% for choice in question.choice_set.all %}
                <div class="choice form-check">
                    <label for="choice{{forloop.counter}}" class="pointer form-check-label">
                        <input type="radio" class="form-check-input" name="choice" id="choice{{forloop.counter}}"
                            value="{{choice.id}}">
                        {{choice.choice_text}}
                    </label>
                </div>
                {% endfor %}

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

    </div>
</div>
{% endblock %}