{% extends 'djangotest/base.html' %}

{% block title %}Polls index{% endblock %}

{% block head_additions %}
{% load static %}
<link rel="stylesheet" href="{%static 'polls/css/index-style.css' %}">
{% endblock head_additions %}

{% block body_block %}
{% if latest_question_list %}
<div class="row polls-index">

    <div class="col-12">
        <h2>
            These are the most recent polls to vote on:
        </h2>
    </div>

    <div class="col-12">
        <div class="list-group">
            {% for question in latest_question_list %}
            <a href="{% url 'polls:detail' question.id %}" class="list-group-item list-group-item-action">
                {{question.question_text}}
                <div class="hover  float-right">
                    (click anywhere to vote)
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

</div>

{% else %}
<div class="alert alert-info" role="alert">
    <strong>No Polls!</strong>
    There are no polls available right now.
</div>
{% endif %}
{% endblock %}